<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <php>
        <ini name="display_errors" value="stderr"/>
        <ini name="error_log" value="/dev/null"/>
        <env name="EMAIL" value="email"/>
        <env name="PASSWORD" value="password"/>
        <env name="DOMAIN" value="domain"/>
    </php>
    <testsuite name="Unit Tests">
        <directory suffix='.php'>tests/</directory>
    </testsuite>
</phpunit>